@model Car
@{

}

<form method="post" asp-action="OnPostEdit">
    <div>
        <label asp-for="Id"></label>
        <input type="text" asp-for="Id">
    </div>
    <div>
        <label asp-for="Make"></label>
        <input type="text" asp-for="Make">
    </div>
    <div>
        <label asp-for="Model"></label>
        <input type="text" asp-for="Model">
    </div>
    <div>
        <label asp-for="Year"></label>
        <input type="number" asp-for="Year">
    </div>
    <div>
        <label asp-for="Plate"></label>
        <input type="text" asp-for="Plate">
    </div>
    <div>
        <label asp-for="color"></label>
        <input type="text" asp-for="color">
    </div>

    <button type="submit" class="btn btn-light">Guardar</button>

</form>